{% extends "layout.html" %}
{% block body %} 
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
      
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Retype Password">
      
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mail</label>
                    <input type="text" class="form-control" name="mail" placeholder="Email">
      
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Country</label>
                    <input type="text" class="form-control" name="count" placeholder="Country">
      
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Gender</label>
                    <input type="text" class="form-control" name="gdr" placeholder="M/F">
      
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}